Source: xbmc-audiodsp-basic
Priority: extra
Maintainer: wsnipex <wsnipex@xbmc.org>
Build-Depends: debhelper (>= 8.0.0), cmake, xbmc-addon-dev, libxbmcplatform-dev, xbmc-audio-dev, libfftw3-dev, libsamplerate0-dev, doxygen
Standards-Version: 3.9.2
Section: libs
Homepage: http://xbmc.org

Package: xbmc-audiodsp-basic
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Audio DSP basic addon for XBMC
 Xbmc basic audio DSP addon

Package: xbmc-audiodsp-basic-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for Audio DSP basic addon for XBMC
 contains the debug symbols for the Xbmc basic audio DSP addon

